.switch-field {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 0.0625rem;
  width: 0.0625rem;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: transparent;
  font-weight: 700;
  color: var(--blue) !important;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0.15rem solid var(--blue);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--blue);
  box-shadow: none;
  color: var(--white) !important;
}

.switch-field label:first-of-type {
  border-radius: 0.25rem 0 0 0.25rem;
}

.switch-field label:last-of-type {
  border-radius: 0 0.25rem 0.25rem 0;
  margin-left: -0.15rem;
}

.switch-field input:checked:disabled + label {
  background-color: var(--blue-disabled);
  color: var(--gray-lighter) !important;
  border-color: var(--gray-light);
  cursor: not-allowed;
}

.switch-field input:disabled + label {
  background-color: var(--gray-lighter);
  color: var(--gray-light) !important;
  border-color: var(--gray-light);
  cursor: not-allowed;
}
