.container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--gray-dark);
}

.container__title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.container__title-header h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.container__title span {
  font-size: 0.75rem;
  padding-left: 2rem;
  font-weight: 400;
  color: var(--gray-dark);
}

.btn-back {
  width: max-content;
  background-color: transparent;
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-back:hover {
  transform: scale(1.02);
}

.btn-next {
  width: max-content;
  background-color: var(--blue);
  color: var(--white);
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-next:hover {
  transform: scale(1.02);
}

.dashboard-container,
.indicator-input-container {
  border: 1px solid var(--gray-lighter);
  border-radius: 1rem;
  margin: 0 2rem;
}

.dashboard-container__header,
.indicator-input-container__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-lighter);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.indicator-input-container-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 2rem;
}

.dashboard-container__header h2 {
  font-size: 1rem;
  font-weight: 400;
}

.dashboard-container__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.dashboard-container__description h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-container__description h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.dashboard-container__description p {
  font-size: 1rem;
  font-weight: 200;
  max-width: 80%;
  color: var(--gray-light);
  text-align: center;
}

.dashboard-container__description ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.dashboard-container__description ul li {
  display: flex;
  /* gap: 1rem; */
  color: var(--gray-light);
  font-weight: 200;
  align-items: center;
}

.container__cards-progress {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container__cards-progress .card-progress {
  width: 7rem;
  height: 14rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  background: linear-gradient(#12437b, #0f2955);
  color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.container__cards-progress .card-progress p {
  color: var(--white);
  font-weight: 200;
  max-width: 100%;
}

.container__cards-progress .card-progress .progress {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--white);
  border: 5px solid var(--white);
  padding: 2rem 1rem;
  border-radius: 100%;
}

.container__cards-progress .card-progress h3 {
  font-size: 1rem;
  font-weight: 200;
}

.indicators-container {
  margin-top: 2rem;
}

.input-indicator-group,
.input-document-indicator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.indicator-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.indicator-input label {
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 600;
}

.indicator-input input {
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--gray-light);
  background: var(--white);
  color: var(--text-dark);
  font-size: 1rem;
}

.indicator-input input::placeholder {
  color: var(--gray-light);
}

.indicator-input textarea {
  padding: 1rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--gray-light);
  background: var(--white);
  color: var(--text-dark);
  font-size: 1rem;
}

.indicator-input-container-values-group {
  display: flex;
  flex-direction: column;
}

.indicator-input-container-values-group #studies:has(div) {
  margin-bottom: 2rem;
}

.indicator-input-container-values-group > label {
  color: var(--text-dark);
  font-size: 1.15rem;
  font-weight: 600;
}

.indicator-input-container-values-group label span {
  margin-left: 0.5rem;
}

.btn-primary {
  width: max-content;
  background-color: var(--blue);
  color: var(--white);
  padding: 0.75rem;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.02);
}

.btn-primary:disabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}

.thumbnail-pdf {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.thumbnail-pdf img {
  width: 100%;
  max-width: 40rem;
  height: auto;
}

.thumbnail-pdf .control-panel {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-add {
  background-color: var(--blue-dark);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-add:hover,
.btn-delete:hover {
  transform: scale(1.02);
}

.btn-delete {
  background-color: var(--gray-dark);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* table css */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
/* end */

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--blue-dark);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: var(--blue);
}

input[type="submit"] {
  margin-right: 20px;
  font-size: 1rem;

  border: none;
  background: var(--blue);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.instructions {
  padding: 2rem 5rem 1rem 5rem;
  font-size: 1rem;
  color: var(--text-dark);
  font-weight: 400;
  line-height: 1;
}

.instructions ul {
  list-style: circle;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.instructions ul li {
  display: flex;
  gap: 1rem;
  color: var(--gray-light);
  font-weight: 200;
  align-items: center;
}

.compulsory-warning-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}
.compulsory-warning-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
