:root {
  --gray-dark: #313439;
  --blue: #03a9f4;
  --blue-disabled: #4196bd;
  --green: #1ce0b2;
  --green-dark: #228d40;
  --white: #fff;
  --gray-light: #8e9dae;
  --gray-lighter: #d9d9d9;
  --font-inter: "Inter", sans-serif;
  --text-dark: #222b34;
  --blue-dark: #3c4c5b;
  --error: #b3261e;
  --red: #a60205;
  --yellow-dark: #fed455;
}
